LogicaPresentacion/Service References/ServidorValeria/Servidor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Zuliaworks.Netzuela.Paris.ServidorValeria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Zuliaworks.Netzuela.Paris.ServidorValeria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataSetXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsquemaXML" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataSetXML" nillable="true" type="tns:DataSetXML" />
</xs:schema>