LogicaPresentacion/Service References/ServidorValeria/Servidor3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4757/Servidor.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Zuliaworks.Netzuela.Paris.ServidorValeria" />
  <xs:element name="RecibirTablas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecibirTablasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecibirTablasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarTablas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Zuliaworks.Netzuela.Paris.ServidorValeria" minOccurs="0" name="TablaXML" nillable="true" type="q1:DataSetXML" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarTablasResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>